@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 236 29% 7%; /* #0f0e17 */
    --foreground: 0 0% 99%; /* #fffffe */
 
    --card: 236 29% 9%; /* A slightly lighter version of the background */
    --card-foreground: 0 0% 99%;
 
    --popover: 236 29% 7%;
    --popover-foreground: 0 0% 99%;
 
    --primary: 6 90% 63%; /* #f25f4c */
    --primary-foreground: 0 0% 99%;
 
    --secondary: 337 79% 54%; /* #e53170 */
    --secondary-foreground: 0 0% 99%;
 
    --muted: 236 29% 12%;
    --muted-foreground: 236 29% 65%;
 
    --accent: 33 100% 51%; /* #ff8906 */
    --accent-foreground: 236 29% 7%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 99%;
 
    --border: 236 29% 15%;
    --input: 236 29% 15%;
    --ring: 33 100% 51%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
